.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
	border-radius: 10px;
	position: fixed;
	z-index: 1;
	float:right;
	right:0px;
	opacity: 0.5;
}
.alert:hover{
	transition: opacity 0.2s ease-in;
	opacity: 1;
}
.closebtn:hover {
    color: black;
}
.alertHideAnimation{
	#display: none;
	opacity: 0;
	transition: visibility 0s, opacity 0.1s linear;
}
.alertHideForGood{
	display: none;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert.warning {background-color: #ff9800;}
.alert.success {background-color: #00b33c;}
.alert.error {background-color: #e60000;}